/* itens da header */

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;

}
.header #logo{
    width: 300px;
    height: auto;
}   

.header #perfil{
    width: 50px;
    height: auto;
}

.header #perfil-btn{
    position: relative;
    padding-bottom: 10px;
}

.menu-dropdown {
    position: absolute;
    background-color: #d9d9d9;
    text-align: right;
    border-radius: 5px;
    display: none;
    padding: 10px;
    right: 20px;
}
.menu-dropdown a {
    display: block;
    padding: 5px 10px;
    color: #333;
}

.menu-dropdown a:hover {
    background-color: #c0c0c0;
    color: #000;
    border-radius: 5px;
}


/* versão dark da header */
body.dark .menu-dropdown {
    background-color: #333;
}
body.dark .menu-dropdown a{
    color: #fff;
}
body.dark .menu-dropdown a:hover {
    background-color: #7c7c7c;
    color: #fff;
}

/* area do jogo */
.area-jogo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
    color: #fff;
}
.tema-selector, .timer{
    padding-top: 50px;
}

.tema-selector{
    position: relative;
}
.tema-selector button{
    font-size: x-large;
    font-weight: bold;
    font-family: var(--text-font);
    color: #ec4899;
}

.tema-selector #temas{
    width: auto;
    max-width: 130px;
    color: #545454;
    position: absolute;
    background-color: #d9d9d9;
    text-align: left;
    border-radius: 5px;
    display: none;
    padding: 10px;
}

.tema-selector #temas li{
    padding: 5px 10px;
    color: #333;
}

.tema-selector #temas li:hover{
    background-color: #c0c0c0;
    color: #000;
    border-radius: 5px;
}

.tabuleiro {
    max-width: 1200px;
    height: auto;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.grid-jogo{
    display: grid;
    /* dificuldade 1 = 4 dificuldade 2 = 4    dificuldade 3 = 24 cartas 6, 1fr*/
    grid-template-columns: repeat(4, 1fr);
    place-content: center;
    gap: 20px;
    width: 100%;
}
.card{
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    width: 154px;
    height: 200px;
    transition: all 400ms;
}
.face{
    width: 100%;
    height: 100%;
    position: absolute;
}
.front{
    background-image: url(../assets/temas/cornelio/Carnaval.png);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 250px;
}
.back{
    background-image: url(../assets/images/3.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.back:hover{
    transform: rotateY(180deg);
}




.timer{
    display: flex;
    flex-direction: column; 
    align-items: center;
}

/* versão dark da área do jogo */
body.dark .tema-selector #temas{
    background-color: #333;
}
body.dark .tema-selector #temas li{
    color: #fff;
}
body.dark .tema-selector #temas li:hover {
    background-color: #7c7c7c;
    color: #fff;
}
