
/* itens da header */

.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 0 20px;

}
.header #logo{
    width: 300px;
    height: auto;
}   

.header #perfil{
    width: 80px;
    height: auto;
}

.header #perfil-btn{
    position: relative;
    padding-bottom: 10px;
}

.menu-dropdown {
    position: absolute;
    background-color: #d9d9d9;
    text-align: right;
    border-radius: 5px;
    display: none;
    padding: 10px;
    right: 20px;
}
.menu-dropdown a {
    display: block;
    padding: 5px 20px;
    color: #333;
    font-size: 25px;
}

.menu-dropdown a:hover {
    background-color: #c0c0c0;
    color: #000;
    border-radius: 5px;
}


/* versão dark da header */
body.dark .menu-dropdown {
    background-color: #333;
}
body.dark .menu-dropdown a{
    color: #fff;
}
body.dark .menu-dropdown a:hover {
    background-color: #7c7c7c;
    color: #fff;
}

/* area do jogo */
.area-jogo {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 20px;
    color: #fff;
}
.tema-selector, .timer{
    padding-top: 50px;
}

.tema-selector{
    position: relative;
}
.tema-selector button{
    font-size: 30px;
    font-weight: bold;
    font-family: var(--text-font);
    color: #ec4899;
}

.tema-selector #temas{
    width: 200px;
    color: #545454;
    position: absolute;
    background-color: #d9d9d9;
    text-align: left;
    border-radius: 5px;
    display: none;
    padding: 10px;
}

.tema-selector #temas li{
    padding: 5px 10px;
    color: #333;
}

.tema-selector #temas li:hover{
    background-color: #c0c0c0;
    color: #000;
    border-radius: 5px;
}

.tabuleiro {
    max-width: 1200px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
}
.grid-jogo{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    place-content: center;
    gap: 20px;
    width: 100%;
}
.card{
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    width: 139px;
    height: 180px;
    transition: all 300ms ease;
    transform-style: preserve-3d;
}

.face{
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    background-position: center;
    transition: all 400ms ease;
}
.front{
    transform: rotateY(180deg) ;
    border-radius: 30px;
}
.back{
    background-image: url(../assets/images/Frame\ 3.png);
    backface-visibility: hidden;
}

.revela-carta{
    transform: rotateY(180deg);
}

.disabled-carta{
    filter: saturate(0);
    opacity: 0.8;
}

.timer{
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 35px;
}

/* versão dark da área do jogo */
body.dark .tema-selector #temas{
    background-color: #535353;
}
body.dark .tema-selector #temas li{
    color: #fff;
}
body.dark .tema-selector #temas li:hover {
    background-color: #7c7c7c;
    color: #fff;
}
body.dark .tabuleiro{
    background-color: #545454;
}



/* fim de jogo  */

/* CSS */
.overlay-escuro {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9998;
}


.fim-de-jogo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: auto;
    padding: 20px 0;
    background-color: #fff;
    border-radius: 20px;
    z-index: 9999;
}

.fim-de-jogo div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 20px;
}

#fim-jogador{
    font-size: 25px;
    font-weight: bold;
    color: #ec4899;
}

.reiniciar{
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    background-color: #ec4899;
    box-shadow:  1px 1px 6px gray;
    width: 200px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
}

body.dark .fim-de-jogo{
    background-color: #535353;
    color: #fff;
}